@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

$DefaultFonts: 'Maven Pro', sans-serif;
$PrimaryColor: #18c19b;
$PrimaryHoverColor: #19cfa6;
$ErrorColor: #ff5119;
$PrimaryBorderColor: #dfe5e4;

$PopupShadow: 0px 2.51928px 12.5964px rgba(74, 74, 74, 0.2);

$SmallFontSize: 13px;
$NormalFontSize: 16px;
$LargeFontSize: 20px;
